h1.svelte-q86zst,p.svelte-q86zst{margin:0 auto}h1.svelte-q86zst{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-q86zst{margin:1em auto}@media(min-width: 480px){h1.svelte-q86zst{font-size:4em}}
